/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Variables used for project */
/* -- Used for Mixins -- */
.my-name {
  background-color: white;
  padding-left: 40px;
  padding-bottom: 7px;
  padding-top: 7px;
  color: black;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-right: 330px;
}
.title-text {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}
.title-text2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
/* --------------------- */
.container {
  margin: 0px;
  font-family: 'helvetica', Roboto, serif;
}
.container header {
  display: flex;
  flex-direction: row;
  background-color: #1D1D1B;
  height: auto;
  justify-content: center;
}
.container header .top-section {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 70px;
  margin-bottom: 50px;
}
.container header .top-section .profile-img {
  border-radius: 50%;
  height: 300px;
  margin-left: 100px;
  margin-right: 60px;
}
.container header .top-section .top-right {
  color: white;
  padding: 60px;
}
.container header .top-section .top-right h1 {
  background-color: white;
  padding-left: 40px;
  padding-bottom: 7px;
  padding-top: 7px;
  color: black;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-right: 330px;
}
.container header .top-section .top-right p {
  font-size: 1.125rem;
  line-height: 25px;
  margin-right: 150px;
  text-align: justify;
}
.container header .top-section .vertical-line {
  border: 3px solid white;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.container nav {
  background-color: #3715f2bf;
}
.container nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}
.container nav ul li {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 22px;
  font-size: 1.05rem;
  font-weight: bold;
  margin-right: 10px;
}
.container .second-section {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 50px;
}
.container .second-section .second-section1 {
  margin-right: 40px;
}
.container .second-section .second-section1 h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.container .second-section .second-section1 .horizontal-line {
  border: 3px solid #3715f2bf;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .second-section .second-section1 .list {
  margin-top: 15px;
}
.container .second-section .second-section1 .list .contact-list {
  font-size: 2rem;
  margin-top: 10px;
}
.container .second-section .second-section1 .list .label {
  font-size: 1rem;
  margin-left: 20px;
  margin-bottom: 5px;
}
.container .second-section2 {
  margin-right: 40px;
}
.container .second-section2 .horizontal-line {
  border: 3px solid #3715f2bf;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .second-section3 {
  margin-right: 40px;
}
.container .second-section3 .horizontal-line {
  border: 3px solid #3715f2bf;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .second-section3 .all-skills {
  margin-top: 20px;
}
.container .second-section3 .bars {
  width: 100%;
  background-color: #ddd;
}
.container .second-section3 .skills {
  text-align: right;
  padding: 10px;
  color: white;
}
.container .second-section3 .html {
  width: 100%;
  background-color: #4CAF50;
}
.container .second-section3 .css {
  width: 90%;
  background-color: #2196F3;
}
.container .second-section3 .js {
  width: 80%;
  background-color: #f44336;
}
.container .second-section3 .php {
  width: 70%;
  background-color: #808080;
}
.container footer {
  background-color: #1D1D1B;
}
.container footer .horizontal-line {
  border: 3px solid #3715f2bf;
  margin-top: 40px;
  margin-bottom: 10px;
}
.container footer .footer-section {
  display: flex;
}
.container footer .footer-section .footer-section1 {
  padding-top: 20px;
  margin-right: 40px;
  color: white;
}
.container footer .footer-section .footer-section1 h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
  padding: 50px;
}
.container footer .footer-section .vertical-line {
  border: 3px solid white;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
